
<header>
	<div>
		<ul class="nav-bar" id="nav-bar">
			<li><a href="/#!/home">Home</a></li>
			<li><a href="">Teams</a></li>
			<li><a href="">Tournaments</a></li>
			<li><a href="">Players</a></li>
		</ul>
	</div>	
</header>

<h3>Date: {{game.date}}</h3>
<div class="BoxScore" align="center">

	<table id="header">
		<tr>
			<td>{{game.home}}</td>
			<td></td>
			<td>{{game.away}}</td>
		</tr>

		<tr>
			<td>{{game.hscore}}</td>
			<td>Score</td>
			<td>{{game.ascore}}</td>
		</tr>	
	</table>

	
</div>